.post {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 30px;
  max-width: 700px;
  width: 100%;
}

.post__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
}

.header__user-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.header__user-container span {
  color: gray;
  font-size: 12px;
}

.post__text {
  margin-bottom: 15px;
}

.post__photo {
  width: 700px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin: 15px 0;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 1rem;
}

.content__post-with-blur {
  height: 50px;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient (black, transparent);
  filter: blur(2px);
}

.post__open {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 9px;
  height: 70px;
}

.post__footer {
  margin-top: 10px;
  gap: 9px;
  display: flex;
  justify-content: flex-start;
}
