.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.form-container__scroll-area {
  height: calc(100svh - 390px);
  width: min(720px, 100%);
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.74);
}

.form-container__fields {
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 14px;
}

.form-container__control {
  align-self: flex-end;
}

.form-container__control button {
  padding: 30px 15px;
}
